footer {
  margin-top: auto;
  height: 2rem;
  color: #bdc3c7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #ffffff;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
